@font-face {
	font-family: 'Bree Serif';
	src: url('../media/Bree_Serif.ttf') format('truetype');
}

body {
	background-image: url('../media/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Bree Serif', 'Times New Roman', Times, serif;
}

#logo {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 2.5em;
	margin-bottom: 0.5em;
}

.nav {
	font-size: 1.25rem;
}

.quote {
	margin: 3em auto;
}

.box {
	background-color: #ffffff;
	box-shadow: 0 16px 32px rgba(0, 0, 0, 0.35);
	border-radius: 21px;
	margin-top: 1.75em;
	margin-bottom: 5em;
	padding: 4em 2.5em;
	padding-bottom: 1em;
}

.form-group > .btn {
	margin-top: 1em;
}

.icon {
	background-color: #e9ecef;
}

.out-grn {
	border: solid 1px #28a745;
}

.out-red {
	border: solid 1px #dc3545;
}

.box a:hover::after,
.box a:focus::after {
	content: ' ↗';
}

@media screen and (min-width: 768px) {
	.box {
		margin-top: 3em;
		margin-bottom: 3em;
	}

	.form-group {
		margin: 1em auto;
	}

	.form-group > .btn {
		margin-top: -0.5em;
	}

	.errMsg {
		float: inline-end;
	}
}
